body {
    display: flex;
    justify-content: center;
    font-style: sans-serif;
    font-size: 15px;
    background-color: lightgreen;

}

.container {
    background-color: white;

    border: 5px solid #f1f1f1;
    margin: 6px;

    padding: 4px;
}